@charset "UTF-8";

/* configurações gerais das css*/
/* minhas classes seguem a seguinte base = nome-da-função + local Ou sua função. ex: o h1 do header que é um "filho" da div em que ele está, possui a classe .h1-item, pois é um item que está dentro do container */

/* aqui estão os parametros gerais que irei usar. */
:root{
    --cor-01: black;
    --cor-02: white;
    --cor-03: gray;
}

/* configurações gerais do html */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* configuração do body */
body{
    /* configurações de estilo */
    background: var(--cor-03) url(../image/fundo-teste.jpg) no-repeat center center fixed;
    background-size: cover;
    /* configurações "tecnicas" */
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* header e as configurações dos elementos dentro do header */
header{
    /* configuração de estilo */
    background-color: rgba(128, 128, 128, 0.534);
    /* configurações tecnicas */
    width: 100%;
}

/* container */
.container{
    /* configurações de estilo */
    
    /* configurações técnicas */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding:10px;

}

/* confiurações do container dentro do container */
.ul-container{
    /* configurações de estilo */

    /* configurações tecnicas */
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;

}

.h1-item{
    /* configurações de estilo */

    /* configurações tecnicas */
    text-align: center;
    padding-right: 10px;
}

.li-item{
    /* configurações de estilo */
    border: 1px solid black;
    background-color: lightgrey;
    border-radius: 5px;
    /* configurações tecnicas */
    text-align: center;
    padding: 10px;
    flex: 0 1 100px;

}
/* main e as configurações dos elementos dentro do main */
/* main{
     vazio 
}*/
/* container */
.section-container{
    /* configurações de estilo */
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 10px;

    /* configurações tecnicas */
    display: flex;
    height: 90vh;
    width: 90vw;
    max-width: 900px;

    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px;
}

/* footer e as configurações dentro do footer */

footer{
    /* configuração de estilo */
    background-color: rgba(128, 128, 128, 0.534);

    /* configurações tecnicas */
    height: 20px;
    width: 100%;
}