@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(../assets/fontes/idroid.otf) format("opentype");
}

body{
    margin:0;
    background-color:rgb(255, 221, 221);
}

header{
    background:linear-gradient(to bottom,#00af3b, #016321);
    margin: 0;
    padding: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    font-family: pledge-regular, sans-serif;
}

.h1-header{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin: 10px;
}

.h2-header{
    text-align: center;
    color: white;
    font-size: 0.8em;
    margin-bottom: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-header{
    text-align: left;
}

.link-header{
    display: inline-block;
    margin: 0 10px;
}

.a-header{
    color: white;
    font-weight: bold;
}

main{
    margin:0px 70px;
    background-color: white;   
    padding: 0px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.h1-texto-1-main{
    text-align: center;
    font-family: idroid, sans-serif;
    font-size: 2.5em;
    color: #016321;
    margin: 0px;
    padding: 10px;
}

.p-texto-1-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 20px;
    text-indent: 20px;
}

.h2-texto-2-main{
    text-align: left;
    font-family: idroid, sans-serif;
    font-size: 1.3em;
    color: #00521b;
    margin: 0px;
    padding: 10px;
    background: linear-gradient(to right,#01d648c0, #ffffff);
    text-indent: 20px;
}

.p-texto-2-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 20px;
    text-indent: 20px;
}

.link-a-texto{
    color: #016321;
    font-weight: bold;
    background-color: #02dd4bbb;
    padding: 2px;
}

.link-a-texto:visited{
    color: #ffffff;
    font-weight: bold;
    background-color: #02dd4bbb;
    padding: 2px;
}

.link-a-texto:hover{
    color:#ffffff;
    font-weight: bold;
    text-decoration: underline;
}

.link-a-texto:active{
    color: #016321;
    font-weight: bold;
    background-color: #02dd4bbb;
    padding: 2px;
}

.imagem-1-main{
    text-align: center;
}

.p-imagem-1{
    font-family: pledge-regular, sans-serif;
    font-size: 0.8em;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

.imagem-2-main{
    text-align: center;
}

.h2-texto-3-main{
    text-align: left;
    font-family: idroid, sans-serif;
    font-size: 1.3em;
    color: #00521b;
    margin: 0px;
    padding: 10px;
    background: linear-gradient(to right,#01d648c0, #ffffff);
    text-indent: 20px;
}

.p-texto-3-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 20px;
    text-indent: 20px;
}

.imagem-3-main{
    text-align: center;
}

.p-texto-4-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 20px;
    text-indent: 20px;
}

.video-1-main{
    border:#00521b solid 20px;
    text-align: center;
    width: auto;
    height: 400px;
}

.texto-5-main{
    margin: 10px;
    background-color: #02d448d5;
    border-radius: 20px;
}

.h2-texto-5-main{ 
    text-align: left;
    font-family: sans-serif;
    font-size: 1 em;
    color: #ffffff;
    padding: 10px;
    background-color: #00521b;
    text-indent: 20px;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
}

.p-texto-5-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 10px;
    text-indent: 20px;
}

.lista-texto-5-main{
    columns: 2;
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
}

.p1-texto-6-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 10px;
    text-indent: 20px;
}

.p-texto-7-main{
    text-align: justify;
    font-family: pledge-regular, sans-serif;
    font-size: 1em;
    margin: 0px;
    color: black;
    padding: 10px;
    text-indent: 20px;
}

footer{
    background-color: #00521b;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: pledge-regular, sans-serif;
    margin: 0;
}