@charset "UTF-8";
/* configurações para dispositivos móveis */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}
main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
}

section{
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: width 0.3s, height 0.3s;
}

h1{
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

p{
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.imagem-main{
    display: block;
    height: 150px;
    background: #5f2c82  url(../image/fundo_redimensionado.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

input[type=submit]{
    font-size: 1em;
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #49a09d;
    color: white;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #3b7a7a;
}

a{
    display: block;
    text-align: center;
    color: #49a09d;
    text-decoration: none;
    padding: 10px;

}

#email{
    font-size: 0.8em;
}