@charset "UTF-8";
/* configuração geral do nosso site */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    /* configurações de estilo */
    background: black url(../image/fundo-taro.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

    /* configurações tecnicas */
    width: 100%;
    min-height: 100vh;
    
}

/* configuração do header e os demais elementos que o compoee */
header{
    /* configuração de estilo */
    background-color: rgba(128, 128, 128, 0.521);
    /* configurações tecnicas */
    width: 100%;
    min-height: 100px;
    position:relative;
}

.menu-container{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 120px;
}

.header-container{
    /* configuração de estilo */

    /* configurações tecnicas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-header{
    /* configuração de estilo */

    /* configurações tecnicas */
    font-size: 3em;
    transform: translatey(-10px);
}

.redes-container{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}

.ul-redes-container{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.li-redes{
    /* configuração de estilo */

    /* configurações tecnicas */
    padding: 0 10px;
}

#ul-container{
    /* configuração de estilo */
    text-decoration: none;
    /* configurações tecnicas */
    display: flex;
    flex-flow: column nowrap;
    background-color: red;
    width: 110px;
}

#icone{
    /* configuraçõs de estilo */
    font-size: 2em;
    /* configurações tecnicas */
    cursor: pointer;
    padding: 10px 0px 0px 10px;
    text-align: left;
}

#icone:hover{
    /* configuraçõs de estilo */
    color: white;
    /* configurações tecnicas */
    transition: 0.5s;
}

nav{
    /* configurações tecnicas */
    display: none;
    position: absolute;
}

.menu-aberto{
    display: block;
}

ul{
    /* configuração de estilo */

    /* configurações tecnicas */
    padding: 0 0 10px 10px
}

li{
    /* configuração de estilo */
    text-decoration: none;
    display: block;
    /* configurações tecnicas */
}

a{
    /* configuração de estilo */
    text-decoration: none;
    background-color: gray;
    color: black;
    border-radius: 10px;

   
    /* configurações tecnicas */
    padding: 10px;
    display: block;
    max-width: 90px;
    margin-top: 5px;
    
}

a:hover{
    /* configurações de estilo */
    background-color: rgb(160, 160, 160);
    /* configuraçõess tecnicas */
}

#itens{
    align-self: flex-start;
}

/* configuração do main e os demais elementos que o compoe */
main{
    /* configurações de estilo */
    background-color: rgba(211, 211, 211, 0.589);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.37);

    /* configurações tecnicas */
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.div-01-main{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: column nowrap
}

.section-01-main{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: row wrap;
}

.h2-01-main{
    /* configurações de estilo */
    color: black;
    /* configurações tecnicas */
    text-align: center;
    padding: 10px;
}

.texto-01-main{
    /* configurações de estilo */
    /* configurações tecnicas */
    flex: 1 1 500px
}

.p-main{
    /* configurações de estilo */
    /* configurações tecnicas */
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    font-size: 1.2em;
}

.div-02-main{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: column nowrap
}

.section-02-main{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: row nowrap;
}

.texto-02-main{
    /* configurações de estilo */
    /* configurações tecnicas */
    flex: 1 1 500px
}

.h2-02-main{
    /* configurações de estilo */
    color: black;
    /* configurações tecnicas */
    text-align: center;
    padding: 10px;
}

.div-03-main{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: column nowrap
}

.section-03-main{
    /* configuração de estilo */
    /* configurações tecnicas */
    display: flex;
    flex-flow: row nowrap;
}

.texto-03-main{
    /* configurações de estilo */
    /* configurações tecnicas */
    flex: 1 1 500px
}

.h2-03-main{
    /* configurações de estilo */
    color: black;
    /* configurações tecnicas */
    text-align: center;
    padding: 10px;
}

/* configuração do footer e dos demais elementos que o compoe */
footer{
    /* configuração de estilo */
    background-color: rgba(128, 128, 128, 0.521);
    /* configurações tecnicas */
    width: 100%;
}