@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: lightgray;
    min-height: 100vh;

}

header{
    background-color: rgb(128, 128, 128);
    width: 100vw;
}

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
}

footer{
    background-color: rgb(128, 128, 128);
    padding: 10px;
    text-align: center;
}

.h1_header{
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    color: white;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
nav{
    display: none;
}

#icone{
    background-color: rgb(58, 58, 58);
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

#icone:hover{
    background-color: lightgray;
    color: black;
}

nav.menu-aberto{
    display: block;
}

li a{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(66, 66, 66);
    font-weight: bold;
    color: white;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    border-top: gray solid 1px;
}

a:hover{
    background-color: lightgray;
} 

.h1_main{
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.p_main{
    text-align: justify;
    color: rgb(0, 0, 0);
    text-indent: 20px;
    padding: 10px;
}